body{

 background-color: lightblue;
 margin: 0;
 padding: 0;
 font-family: "Comic Sans MS", cursive, sans-serif;    
}

h2{
    margin:0; 
}

h4{

    text-decoration: underline;
    margin-top: 0;
    margin-bottom: 0;
}

img{
    display: table-cell;
    margin: auto;
    margin-top: 10px;
    margin-right: 10px;
    padding: 10px 30px;
    border-radius: 50px;
    float: left;
    max-width: 100%;
}

#menu ul{
    background-color: #333333;
    list-style-type: none;
    margin: 0;
    padding: 0 ;
    overflow: hidden;
    display: block;    
    text-align: right;
    width: 100%;
    float: right;
}

#menu ul li {
    display: inline;
}


#menu li a {
    display: inline-block;
    color: white;
    padding: 20px;
    text-decoration: none;
}

#menu li a:hover {
    background-color: #D6D6D6;
}

.corpo{
    width: 100%;
    margin: auto;
}

.conteudo{
    display: table;
}

.Ficha{
    display: table-cell;
    float: left;
    line-height: 1.0;
    width: 480px;
    margin-bottom: 50px;
    margin-top: 40px;
}

#Sobre{
   line-height: 0.8;
}

.Experiencias{
   line-height: 0.8;
}

#Contatos{
    margin: 0;
    padding: 0;
}

.logo{
    margin: 0;
    padding-top: 0;
    border: 0;
    padding-left: 30px;
}

p,h4,h2{
        padding-left: 30px;     
    }

@media only screen and (max-width: 320px) {

   #menu ul{
        width: 100%;
    }
    img{
        display: block;
    }
    .Ficha{
        display: inline;
        float: right;
        width: 100%;
        padding-left: 10px;
    }

    .conteudo,.Experiencias{
        float: right;
        width: 100%;
    }

    #Sobre{
        width: 100%;
        float: right;
    }

    .Experiencias{
        line-height: 1.3;
    }

    h4{
        margin-top: 25px;
    }

}

@media only screen and (max-width: 480px) {
   #menu ul{
        width: 100%;
    }
    img{
        display: block;
    }
    .Ficha{
        display: inline;
        float: right;
        width: 100%;
        margin: auto;
    }

    #Sobre,#Contatos{
        width: 100%;
        float: right;
    }

    .Portifolio,.Experiencias,.Conteudo{
        width: 100%;
        float: right;
    }

    .Experiencias{
        line-height: 1.3;
    }

      h4{
        margin-top: 30px;
    }

}

@media only screen and (max-width: 640px) {
   #menu ul{
        width: 100%;
    }
    img{
        display: block;
    }
    .Ficha{
        display: inline;
        float: right;
        width: 100%;
    }

    #Sobre,#Contatos{
        width: 100%;
        float: right;
    }

    .Portifolio,.Experiencias,.Conteudo{
        width: 100%;
        height: 100%;
        float: right;
    }
}

@media only screen and (max-width: 768px) {
   #menu ul{
        width: 100%;
    }
    img{
        display: block;
    }
    .Ficha{
        float: left;
        width: 100%;
        margin-bottom: 30px;
        margin-top: 10px;
    }

    #Sobre,#Contatos{
        width: 100%;
        float: right;
    }

    .Portifolio,.Experiencias,.Conteudo{
        width: 100%;
        float: right;
    }
}


@media only screen and (max-width: 1024px) {
   #menu ul{
        width: 100%;
    }
    img{
        display: block;
    }
    .Ficha{
        width: 100%;
        height: 150px;
        margin-bottom: 30px;
        margin-top: 10px;
    }

    #Sobre,#Contatos{
        width: 100%;
        float: right;
    }

    .Portifolio,.Experiencias{
        width: 100%;
        float: right;
    }
}


@media only screen and (max-width: 1280px) {
   #menu ul{
        width: 100%;
    }
    img{
        display: block;
    }
    .Ficha{
        width: 100%;
        height: 150px;
        margin-bottom: 30px;
        margin-top: 10px;
    }

    #Sobre,#Contatos{
        width: 100%;
        float: right;
    }

    .Portifolio,.Experiencias,.Conteudo{
        width: 100%;
        float: right;
    }
}