body{

 background-color: lightblue;
 margin: 0;
 padding: 0;
 font-family: "Comic Sans MS", cursive, sans-serif;    
}

h2{
    margin:0; 
}

h4{

    text-decoration: underline;
    margin-top: 0;
    margin-bottom: 0;
}

img{
    display: table-cell;
    margin: auto;
    margin-top: 10px;
    margin-right: 10px;
    padding: 10px 10px;
    border-radius: 50px;
    float: left;
/*FAZER TEXTO DESCER*/
}

#menu ul{
    background-color: #333333;
    list-style-type: none;
    margin: 0;
    padding: 0 ;
    overflow: hidden;
    display: block;    
    text-align: right;
    width: 100%;
}

#menu ul li {
    display: inline;
}


#menu li a {
    display: inline-block;
    color: white;
    padding: 20px;
    text-decoration: none;
}

#menu li a:hover {
    background-color: #D6D6D6;
}

.corpo{
    width: 960px;
    margin: auto;
}

.conteudo{
    display: table;
}

.Ficha{
    display: table-cell;
    float: left;
    line-height: 1.0;
    width: 500px;
    margin-bottom: 50px;
    margin-top: 40px;
}

#Sobre{
   /*display: table-cell;*/
   line-height: 0.8;
}

.Experiencias{
   line-height: 0.8;
   /*margin-bottom: 48px;*/
}

#Contatos{
    /*padding-top: 0;*/
    /*padding-bottom: 0;*/
    /*width: 500px;*/
    margin: 0;
    padding: 0;

}

.logo{
    margin: 0;
    padding-top: 0;
    border: 0;
}

